.vscode/
*.log
portable/logs/application.log
portable/preferences.txt
portable/cache/cache.json
portable/package_index.json.sig
portable/library_index.json.sig
portable/library_index.json
portable/cache/
portable/preferences.txt